<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{devoured}}">
		{{#if devoured}}Oh boy!{{else}}I'm full!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
